* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #eee;
}

ul li {
    list-style: none;
}

.container {
    height: calc(100% - 40px);
}

.main {
    height: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 15px -5px;
}

.conversation-wrapper {
    border-right: 1px solid grey;
}
#conversation {
    height: calc(100% - 45px);
    padding: 10px 0 10px 0;
}
.sender {
    color: darkcyan;
    font-weight: bold;
}

.main .form-group {
    width: 100%;
}

.main input[type="text"] {
    width: calc(100% - 85px);
    margin-right: 10px;
}

.main button#publish {
    width: 75px;
}

.user-list {
    height: 100%;
    padding: 1em 0 1em 0;
    overflow-y: auto;
}

#all ul, #fav ul {
    padding: 0 1em 0 1em;
    margin: 0;
}
#all ul li, #fav ul li {
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    font-weight: bold;
    color: darkred;
}

.nav-tabs {
    padding: 10px 10px 0 10px;
}

.nav-tabs .nav-item {
    width: 50%;
    text-align: center;
}

span.sender {
    cursor: pointer;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin-heading {
    margin-bottom: 10px;
}
.form-signin input[type="text"] {
    margin-top: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="submit"] {
    width: 100%;
}
.alert-warning {
    font-size: 0.7em;
    padding: 5px;
}