<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header(title,links,scripts)">
    <title th:replace="${title}"></title>

    <link th:href="@{resources/bootstrap/css/bootstrap-reboot.min.css}" rel="stylesheet"/>
    <link th:href="@{resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{resources/bootstrap/css/bootstrap-grid.min.css}" rel="stylesheet"/>
    <link th:href="@{resources/css/style.css}" rel="stylesheet"/>
    <th:block th:replace="${links}" />
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{resources/bootstrap/js/bootstrap.min.js}"></script>
    <th:block th:replace="${scripts}" />
</head>
<body>
<footer th:fragment="template"></footer>
</body>
</html>