<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello WebSocket</title>
    <link th:href="@{resources/bootstrap/css/bootstrap-reboot.min.css}" rel="stylesheet"/>
    <link th:href="@{resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{resources/bootstrap/css/bootstrap-grid.min.css}" rel="stylesheet"/>
    <link th:href="@{resources/css/style.css}" rel="stylesheet"/>
    <script th:src="@{webjars/jquery/jquery.min.js}"></script>
    <th:block th:include="$_{}"></th:block>
</head>
<body>
<div id="main-content" class="container">
    <form name="form" class="form-signin" th:action="@{/login}" action="/login" method="POST">
        <h2 class="form-signin-heading">Please sign-in</h2>
        <input id="username" type="text" name="username" class="form-control" placeholder="Username"/>
        <input id="password" type="password" name="password" class="form-control" placeholder="Password"/>
        <div class="alert alert-warning" role="alert">
            <p>type "user" in both</p>
        </div>
        <input type="submit" id="login" value="Login"
               class="btn btn-primary"/>
        <a th:href="@{/register}">Register new user</a>
    </form>
</div>
</body>
</html>